div{
    margin: 70px 0;
    text-align: center;
    font-size: 70px;
}
@media (min-width: 640px) {
    div{
        margin: calc(70px + ((1vw - 6.4px)*22.40)) 0;
        font-size: calc(70px + ((1vw - 6.4px)*22.40));
    }
  }
@media (min-width: 2560px) {
    div{
        margin: 500px 0;
        font-size: 500px;
    }
}