div{
    margin: 50px 0;
    text-align: center;
    font-size: 70px;
}
@media (min-width: 640px) {
    div{
        margin: calc(70px + ((1vw - 6.4px)*19)) 0;
        font-size: calc(70px + ((1vw - 6.4px)*19));
    }
  }
@media (min-width: 2560px) {
    div{
        margin: 434px 0;
        font-size: 434px;
    }
}